PAYLOAD_SECRET=replace-with-a-long-random-secret
DATABASE_URL=postgres://username:password@hostname:5432/caribai
POSTGRES_URL=
DATABASE_URI=file:./caribai.db
NEXT_PUBLIC_SITE_URL=http://localhost:3000
PORT=3000
